.DS_Store
HealthSmart/HealthSmart.xcodeproj/project.xcworkspace/xcuserdata/*
HealthSmart/HealthSmart.xcodeproj/xcuserdata/*
HealthSmart/HealthSmart/.DS_Store
HealthSmart/.DS_Store
HealthSmart/HealthSmart/Assets.xcassets/.DS_Store
